/********************************************
  Tag Resets
********************************************/

body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
th,
td,
article,
aside,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  margin: 0;
  padding: 0;
  border: 0;
}

/********************************************
  Normalize CSS
  http://necolas.github.com/normalize.css/
********************************************/

html {
  height: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  min-height: 100%;
}


article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
audio,
canvas,
video {
  display: block;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

b,
strong {
  font-weight: bold;
}

abbr[title] {
  border-bottom: 1px dotted;
}

input,
textarea,
button,
select {
  margin: 0;
  font-size: 100%;
  line-height: normal;
  vertical-align: baseline;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

textarea {
  overflow: auto;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*<style>*/
.container{
	width: 100%;
}
#logo{
  width: 25%;
  height: 0;
  padding-bottom: 25%;
}
#logo img{
  width: 100%;
}
/**********************************
        FLUID MEDIA
**********************************/
figure{
  position: relative;
}
figure img,
figure object,
figure embed,
figure video{
  display: block;
  max-width: 100%;
}
img{
  border: 0;
  -ms-interpolation-mode: bicubic;
}
.header{
	background-color:#333399;
	border-bottom: 1px solid #ddd;

	font-family: 'Oswald', sans-serif;
	font-weight: 300;
	font-size: 18px;
	padding: 15px;
}


.header .menu{
	float: right;
	list-style: none;
	margin-top: 5px;
}
.menu > li{
	display: inline;
	padding-left: 20px;
	padding-right: 20px;
}
.menu a{
	color: rgba(50, 255, 50, 1);
}

/* Dropdown menu */
.dropdown-menu{
	font-size: 16px;
	margin-top: 5px;
	min-width: 105px;
}
.dropdown-menu li a{
	color: rgba(50, 255, 50, 1);
	padding: 6px 20px;
	font-weight: 300;
}

/* Carousel */
.slider{
	position: relative;
	width: 100%;
	height: 470;
	border-bottom: 1px solid #ddd;
}

.slide{
	background: transparent url('http://s3.amazonaws.com/codecademy-content/courses/ltp2/img/flipboard/feature-gradient-transparent.png') center center no-repeat;
	background-size: cover;
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100;
	height: 100;	
}
.actives-slide{
	display: block;
}
.slide-copy h1 {
  color: #363636;  
  
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  
  font-size: 40px;
  margin-top: 105px;
  margin-bottom: 0px;
}

.slide-copy h2 {
  color: #b7b7b7;
  
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  
  font-size: 40px;
  margin: 5px;
}

.slide-copy p {
  color: #959595;
  font-family: Georgia, "Times New Roman", serif;
  font-size: 1.15em;
  line-height: 1.75em;
  margin-bottom: 15px;
  margin-top: 16px;
}

.slide-img {
  text-align: right;
}

/* Slide feature */

.slide-feature {
  text-align: center;
  background-image: url('http://s3.amazonaws.com/codecademy-content/courses/ltp2/img/flipboard/ac.png');
  height: 470px;
}

.slide-feature img {
  margin-top: 112px;
  margin-bottom: 28px;
}

.slide-feature a {
  display: block;
  color: #6fc5e0;
  
  font-family: "HelveticaNeueMdCn", Helvetica, sans-serif;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  
  font-size: 20px;
}

.slider-nav {
  text-align: center;
  margin-top: 20px;
}

.arrow-prev {
  margin-right: 45px;
  display: inline-block;
  vertical-align: top;
  margin-top: 9px;
}

.arrow-next {
  margin-left: 45px;
  display: inline-block;
  vertical-align: top;
  margin-top: 9px;
}

.slider-dots {
  list-style: none;
  display: inline-block;
  padding-left: 0;
  margin-bottom: 0;
}

.slider-dots li {
  color: #bbbcbc;
  display: inline;
  font-size: 30px;
  margin-right: 5px;
}

.slider-dots li.active-dot {
  color: #363636;
}

/* App links */

.get-app {
  list-style: none;
  padding-bottom: 9px;
  padding-left: 0px;
  padding-top: 9px;
}

.get-app li {
  float: left;
  margin-bottom: 5px;
  margin-right: 5px;
}

.get-app img {
  height: 40px;
}

body{
	color: green;
	font-size: large;
}
p{
	font-size: large;
	font-style: normal, italic, oblique;
}
img{
	transform: rotate(20);
}
/*</style>